.video_card{
    min-width: 270px;
    position: relative;
}
.video_card a{
font-weight: 800;
font-size: 18px;
line-height: 21px;
color: #FFFF;
}
.video_card a:hover{
    color: #C00511;
}
video{
    width: 100%;
    margin-bottom: 23px;
    height: 243px;
}
.video_play_icon{
    position: absolute;
    top:90px;
    right:147px;
    cursor: pointer;
}

.video_discard_icon{
    position: absolute;
    top:40px;
    right:20px;
    cursor: pointer;
}
.fa-circle-pause{
    position: absolute;
    color:white;
    font-size: 48px;
    top:90px;
    right:147px;
    cursor: pointer;
}

.hideIcon{
    display: none;
}
