*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: 'Roboto', sans-serif;
}

html{
  font-size: 10px;
}

body{
  font-size: 1.6rem;
  /* background: black; */
}

:root{
  --white:#ffff;
  --black:#0000;
}
a{
  color: #FFFFFF;
  }

